Django==1.11.3
django-filter==1.0.4
djangorestframework==3.6.3
django-celery
celery==4.1.0
kombu==4.1.0
django-celery-results
gunicorn==19.6.0
psycopg2==2.6.2
twilio==5.6.0
slackclient==1.0.6
django-anymail==0.10
django-storages==1.6.3
boto==2.48.0

kong_oauth==0.1
django_nosql==0.0.2
firebase-admin==2.13.0
google-cloud-firestore
pubnub
django-phonenumber-field
python-dateutil
weasyprint
redis
mistune
jsonschema
markdown2
taskengine==0.0.2

ipython
ipdb
responses

coverage
codacy-coverage
Faker
